

// Media Query para pantallas grandes (por ejemplo, computadoras de escritorio)
@media screen and (min-width: 992px) {
    .card {
        .card-body {
        background-color: $purple-footer;
        color: $white-brand;
        }
    }
}

  // Media Query para tabletas
@media screen and (max-width: 991px) {
    .card {
        .card-body {
        background-color: $purple-footer;
        color: $white-brand;
        }
    }
}

  // Media Query para dispositivos móviles
@media screen and (max-width: 767px) {
    .card {
        .card-body {
        background-color: $purple-footer;
        color: $white-brand;
        }
    }
}