/*Footer*/

.footer{
    margin-top: 200px;
}

.copy{
    color: #7976A8;
    margin: 0 0 20px 30px;
}

.redesFooter img{
    height: 50px;
}

#footerSection{
    justify-content: space-between;
}
.banderaFooter{
    text-align: right;
}