
body{
    background-color: $primary-background;
    color: white;
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;   
}

/*RESALTADO DE TEXTOS*/

.resaltartext{
    color: $yellow-brand;
    font-weight: bold;
    margin-top: 40px;
}

.textCarousel{
    letter-spacing: 2px;
    color: $yellow-brand;
    text-shadow: 1px 1px 2px black;
}

.textVenezuela{
    font-weight: bold;
    color: $yellow-brand;

}
#resaltarNosotros{
    color: $lime-brand;
    font-weight: bold;
}
