/*VARIABLES*/

$primary-background:#04021E;
$yellow-brand: #FF9500;
$green-brand:#71D6B9;
$purplelight-brand: #B180C2;
$purple-form:#7976A8;
$purple-footer:#211F41;
$lime-brand:#C9FF5A;
$white-brand:white;

.center{
    justify-content: center;
    text-align: center;
}